.timeline-event {
  position: absolute;
  height: 100%;
  bottom: 0;
  background-color: #4a90e2;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.resize-button {
  cursor: ew-resize;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0 5px;
}